{% extends 'app/base.html' %}
{% load crispy_forms_filters %}

{% block title %}ADD DESPESA{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4"><span></span></div>
            <div class="col-md-4 card g-5">
                <form method="post"> {% csrf_token %}

                    <div class="card-body">
                        {{ form | crispy }}
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary" type="submit" value="Salvar"/>
                    </div>

                </form>

            </div>
            <div class="col-md-4"><span></span></div>
        </div>
    </div>
{% endblock %}