<!-- Template base - ref: https://docs.djangoproject.com/pt-br/3.0/ref/templates/language/#template-inheritance -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}TITLE{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/coin.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body class="bg-secondary bg-opacity-75">
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-pills">
        <div class="container">
            <span class="navbar-brand">{{ user.first_name }}</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {% block nav_home %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'app:home' %}">Home</a>
                        </li>
                    {% endblock %}
                    {% block nav_receitas %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'app:receitas' %}">Receitas</a>
                        </li>
                    {% endblock %}
                    {% block nav_despesas %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'app:despesas' %}">Despesas</a>
                        </li>
                    {% endblock %}
                    {% block nav_perfil %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'app:perfil' %}">Perfil</a>
                        </li>
                    {% endblock %}
                </ul>
            </div>
            <a class="navbar-brand" href="{% url 'app:logout' %}">Logout</a>
        </div>

    </nav>
{% endblock navbar %}
{% block content %}{% endblock content %}

</body>
</html>