{% extends 'app/base.html' %}
{% block title %}HOME{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1><span class="fas fa-home"></span> | Mês {{ today.month }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total receitas</h5>
                        {{ total_receitas }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Total despesas</h5>
                        {{ total_despesas }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Receitas</h5>
                        {{ graph_receitas|safe }}
                    </div>
                </div>
                <a href="#" class="btn btn-primary">Gerar relatório de receitas</a>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Despesas</h5>
                        {{ graph_despesas|safe }}
                    </div>
                </div>
                <a href="#" class="btn btn-primary">Gerar relatório de despesas</a>
            </div>
        </div>
    </div>
{% endblock content %}
