{% extends 'app/base.html' %}
{% load crispy_forms_filters %}

{% block title %}PERFIL{% endblock %}

{% block content %}
    <div class="container"></div>

    <div class="row">
        <div class="col-3"><span></span></div>
        <div class="col-6">
            <form method="post">{% csrf_token %}
                {{ form | crispy }}
                <input class="btn btn-primary" type="submit" value="Atualizar">

            </form>
        </div>
        <div class="col-3"><span></span></div>
    </div>

{% endblock %}