{% extends 'app/base.html' %}
{% load crispy_forms_filters %}

{% block title %}PERFIL{% endblock %}

{% block nav_perfil %}
    <li class="nav-item">
        <a class="nav-link active bg-light bg-opacity-25" href="{% url 'app:perfil' %}">Perfil</a>
    </li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="col-md-4"><span></span></div>
            <div class="col-md-4 card g-5">
                <form method="post"> {% csrf_token %}

                    <div class="card-body">
                        {{ form | crispy }}
                    </div>
                    <div class="card-footer">
                        <input class="btn btn-primary" type="submit" value="Atualizar"/>
                    </div>

                </form>

            </div>
            <div class="col-md-4"><span></span></div>
        </div>
    </div>


{% endblock %}