{% extends 'app/base.html' %}
{% block title %}RECEITAS{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col"><span></span></div>
            <div class="col-6">
                <div class="accordion accordion-flush" id="accordion-receitas">
                    {% for object in object_list %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading-receitas-{{ object.id }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse-receitas-{{ object.id }}" aria-expanded="false"
                                        aria-controls="collapse-receitas-{{ object.id }}">
                                    <span><strong>{{ object.nome }}</strong> | {{ object.usuario }}</span>
                                </button>
                            </h2>
                            <div id="collapse-receitas-{{ object.id }}" class="accordion-collapse collapse"
                                 aria-labelledby="heading-receitas-{{ object.id }}"
                                 data-bs-parent="#accordion-receitas">
                                <div class="accordion-body">

                                    <span>R$ {{ object.valor }}</span> | <span>{{ object.data }}</span>
                                    <a href="{% url 'app:receita_edit' object.id %}" class="btn btn-outline-dark">
                                        Editar <span class="fas fa-edit"></span>
                                    </a>

                                    {# how collapse works: https://bit.ly/3sxgp1F#}
                                    <button class="btn btn-outline-danger" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse-del-receita-{{ object.id }}" aria-expanded="false"
                                            aria-controls="collapse-del-receita-{{ object.id }}">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                    <div class="collapse" id="collapse-del-receita-{{ object.id }}">
                                        <div class="alert alert-danger card card-body" role="alert">
                                            <form action="{% url 'app:receita_del' object.id %}"
                                                  method="post">{% csrf_token %}
                                                <p>Deseja deletar "{{ object.nome }}"?</p>
                                                <input class="btn btn-outline-danger" type="submit" value="Sim">
                                                <button class="btn btn-success" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#collapse-del-receita-{{ object.id }}"
                                                        aria-expanded="true"
                                                        aria-controls="collapse-del-receita-{{ object.id }}">
                                                    Não
                                                </button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <a href="{% url 'app:receita_add' %}" class="btn btn-primary">Add receita</a>
            </div>
        </div>
    </div>
{% endblock content %}
